@font-face {
    font-family: 'norsebold';
    src: url('/fonts/norse-bold-webfont.woff') format('woff2'),
         url('/fonts/norse-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.picture {
    background-image: url(images/leaves.jpg);
    background-size: cover;
    flex: 1 1 auto;
}

.info {
    flex: 2 1 auto;
}